@model GetAdvertImageModelDto
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать уважаемый!</h1>
    <p>Сайт пока всё ещё разрабатывается, поэтому просим подождать до 12-августа</p>
</div>

<h3>Все файлы</h3>
@foreach (var f in Model.ImageModelDtos)
{
    <p><img src="@Url.Content(f.Path)"></p>
}