@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="ChooseVehicle" asp-controller="Advert" title="Manage"><img src="~/img/AddNewAdvert.png" style="width:23px; height:23px" /> Добавить объявление |</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> <img src="~/img/Profile.png" style="width:23px; height:23px" /> Личный кабинет |</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"> <img src="~/img/Logout.png" style="width:23px; height:23px" /> Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><img src="~/img/Register.png" style="width:23px; height:23px" /> Регистрация |</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><img src="~/img/Login.png" style="width:23px; height:23px" /> Войти</a>
        </li>
    }
</ul>
